@font-face {
    src: url(Cinzel/Raleway-Regular.ttf);
    font-family: 'Raleway-Regular';    
    font-weight: normal;
}
*{
	font-family: 'Cinzel', serif;
}
#Titulo{
	color:#0040FF;
	text-shadow: 2px 2px 4px #000000;
    font-size:80px;	
}

h1{
	color:#0040FF;
}
h2{
	color:#767778;
	outline: 5px solid #00BFFF;
}

hr{
	background-color:#00FFFF;
}
p.citacion{
font-style: italic;
font-weight: bold;
font-size: 30px;
}
p{
	 padding: 10px;
	 margin: 10px;
}

ul{

  list-style-position: inside;
}
img.central{ 
	display: block;
    margin-left: auto;
    margin-right: auto }
img {
  border-radius: 18px;
}


